@CHARSET "ISO-8859-1";

body{
	 
	 
      font-size: 0.7em;
}


#form{
	margin:10 px;
	padding: 5px;
	width:auto;
	
}

.botonPeque, .ui-widget-content .botonPeque{
	font-size:14px;
	margin:10px;
	font-family:candara;
}

.ui-widget-header .back {
	font-size:14px;
	margin:10px;
	margin-left:15px;
	font-family:candara;
	border: 1px solid #4d494a;
	background: #663037;
	color: #ffffff;
}

.ui-panel .ui-panel-titlebar {
    padding: 0;
}

f:facet div{
	display:block;
	background-color:red;
}
#reloj{
	margin-top:5px;
	margin-right:20px;
	float:right;	
}



#par{
			
	font-family:candara;
	vertical-align:middle;
}

#header_table{
	text-align: center;	
	vertical-align:middle;
	
	
}

.paneMantenimiento{
	background-size: 100% auto;
}


.paneMantenimiento .ui-panel-titlebar{
	width:auto;
	margin-left:14px;
	margin-right: 14px;
	margin-top: 10px;
}


#cuerpo{
	display:block;
}

.ui-icon-disk {
	background-image: url("#{resource['images:icono.png']"}) !important;
}

<<<<<<< HEAD
body { 
		background: url(../images/bg2.png);
		font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #444; 
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: none;
 }
=======
.rowActivo {
	background-color: yellow;
}


.customFieldSet .ui-fieldset-legend.ui-corner-all.ui-state-default{
	background: none !important;
	border: hidden !important;
	
}

.panelGridNoBorder td{
	border-style: none !important;	
}

.textoRojoOscuro {
	color: #B013B;
}

.floatRight {
	float: right;
}

.anchoTotal {
	width: 100%;
}

.wizardNoBorder .ui-wizard-content .ui-panel {
	border:none;
}
>>>>>>> cd7e850f7fdae16c385728086713571001157819
